@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
.main_form {
  padding: 30px 20%;
}
h1 {
  font-size: 2em;
  text-align: center;
}
.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}
.three_liner {
  width: 200px;
}
.big_one {
  display: flex;
  justify-content: space-between;
}
.project_info input {
  height: 200px;
}
.top_one {
  margin-top: 0px;
}
.top_header {
  position: relative;
  top: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
}
.full_projForm {
  width: 1050px;
  position: relative;
  margin-bottom: 2.5rem;
  left: 150px;
  height: 850px;
  top: 50px;
  border-radius: 30px;
  /* box-shadow: 2px 2px 2px 1px rgba(137, 134, 134, 0.2); */
  box-shadow: 10px 10px 10px 15px #c2c1c1;
}

@media (max-width: 768px) {
  .full_projForm {
    width: 85%;
    height: auto;
    top: 20px;
    left: 20px;
    bottom: 20px;
    margin-bottom: 0px;
  }
  .three_liner {
    width: 60px;
  }
}
